$background-main: rgb(39, 39, 39);
$background-secondary: rgb(233, 233, 233, .1);

$color-main: rgb(235, 235, 235);
$color-secondary: rgb(39, 39, 39);

$highlighted: #F22613;
$highlighted-dull: #d11e0d;

$popupWrapper-background: rgba(0, 0, 0, 0.299);
$popup-background: rgb(242, 242, 242);
$popup-borderRadius: 32px;